.header
  .header__left-box
  -#   .header__left-box--group-name{data: {group: {id: @group.id}}}
  -#     = @group.name
  -#   .header__left-box--members
  -#     = "Member : #{@member}"
  -# = link_to edit_group_path(@group.id) do
  -#   .header__btn--edit-group
  -#     Edit

.contents
  -# = render @messages
  -# .content{data: {id: message.id}}
  -#   .content__upper-info
  -#     .content__upper-info--user-name
  -#       = message.user.name
  -#     .content__upper-info--date
  -#       = message.created_at.strftime("%Y/%m/%d(%a) %X")
  -#   .content--body
  -#     -if message.body.present?
  -#       %p.message__text
  -#         = message.body 
  -#     - if message.image.present?
  -#       = image_tag message.image.url

.footer
  -# = form_for [@group, @message] do |f|
  -#   .input-box
  -#     = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
  -#     = f.label :image, class: 'input-box__image' do
  -#       = fa_icon 'image', class: 'icon'
  -#       = f.file_field :image, class: 'input-box__image__file'
  -#   = f.submit 'Send', class: 'submit-btn'